<form action="{{ path('rechercheProduits') }}" method="POST" class="control has-addons">
        {{ form_widget(form.recherche) }}
        <button class="button button-vert" type="submit">
            Rechercher
        </button>
    {{ form_widget(form) }}
</form>