<div class="box related-list">
    <p class="menu-label title indieflower">
        Produits
    </p>
    <ul class="menu-list">
        {{  render(controller('EcommerceBundle:Categories:menu')) }}
    </ul>
</div>