{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}
    <div class="tile is-ancestor">
        <div class="tile is-parent is-12">
            <article class="tile is-child box is-12">
                <h2 class="title is-3">Ajouter un nouveau produit</h2>
            </article>
        </div>
    </div>

    <div class="tile is-ancestor">
        <div class="tile is-parent is-12">
            <article class="tile is-child box is-12">
                {{ form_start(form, {'action': path('adminProduits_create'), 'method': 'POST' }) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
                <br />
                <ul class="has-text-right">
                    <li>
                        <a href="{{ path('adminProduits_index') }}" class="button is-info is-outlined">Retour a la liste des produits</a>
                    </li>
                </ul>
            </article>
        </div>
    </div>
{% endblock %}