/*******************************************************************************
Les boutons
*******************************************************************************/

.buttonmenu-orange {
    background-color: #F4742B;
    border: none;
    color: white !important;
}

.buttonmenu-orange:hover {
    background-color: #F4742B;
    color: black !important;
}

#button2 {
    background-color: #BA172A;
    /*#BA172A rouge*/
}

.buttonmenu-vert {
    background-color: #006A43;
    border: none;
    color: white !important;
}

.buttonmenu-vert:hover {
    background-color: #006A43;
    border: none;
    color: black !important;
}

#button4 {
    background-color: #BA172A;
    /*#BA172A rouge*/
}

#button5 {
    background-color: #006A43
}
