<li><a href="{{ path('produits') }}" class="indieflower menusubtitle">Tout nos produits</a></li>
{% for categorie in categories %}
    <li><a href="{{ path('categorieProduits', { 'categorie' : categorie.id }) }}" class="indieflower menusubtitle">{{ categorie.nom }}</a></li>
{% endfor %}